<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index" title="">01 : Home</a></li>
          <li><a href="./works" title="">02 : Works</a></li>
          <li><a href="./about" title="">03 : About me</a></li>
          <li><a href="./contact" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">01 : About me - <a href="https://florinsfirsts3bucket.s3.amazonaws.com/Florin-Mavroian-Resume-2020-11.docx" download="Florin-Mavroian-Resume-2020-11.">Resume</a> </h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>What I am doing now</h3>
                  <p>I am currently working as a React Engineer at <a href="https://www.listsothebysrealty.co.jp/lp/resort/en/">List Sotheby’s International Realty</a>, 
                    a luxury real estate company. I am not only responsible for building new full-stack features in their in-house application but also for designing and implementing CRM features in React.js according to designers’ mockups and requirements.</p>
                  <h3>How I got there</h3>
                  <p>Before becoming an engineer, I was a website Administrator and IT support 
                    specialist for several companies where I quickly became immersed in troubleshooting 
                    user interface issues and began teaching myself how to code to help clients. 
                    I enjoyed my customer service work, but I wanted to challenge myself more to 
                    solve tougher problems and building tools that make a lasting difference. 
                    In 2019, I was successfully accepted in Code Chrysalis’ advanced coding program 
                    to hone my skills and achieve my goal. Since then I have been developing IT solutions 
                    for several companies. I am comfortable developing applications using in demands technologies 
                    like JavaScript, React.js, Redux, D3, Express, Node.js, PostgreSQL, REST/SOAP, Git, Axios, Heroku CLI, TypeScript, Knex, GraphQL, Webpack, Python, Grunt, Puppeteer, HTML5, CSS3, WordPress, AWS Services, </p>
                   
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profile.png" class="img-responsive" alt="">
                  <h3> Checkout my resume for more detailes <a href="https://florinsfirsts3bucket.s3.amazonaws.com/Florin-Mavroian-Resume-2020-11.docx" download="Florin-Mavroian-Resume-2020-11.">Download</a></h3>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>